
<!-- nutty guy view of products created after creating the def action and the controller behavior -->

		<div id="featured">
			<h2 class="category">Featured Gifts</h2>
			<hr>
		</div>
		<div class="row">
			<% @products.each do |product|  %>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<%= link_to product do %>
					<%= image_tag product.image.url, alt: product.title, class: "product" %>
					<p class="product"><%= product.title %></p>
				<% end %>
				<p class="gray-text"><%= number_to_currency product.price %></p>
			</div>
			<% end %>
		</div> <!--/.row -->



<!-- we chopped this from the application.html.erb file and replaced that with a yield to bring this dynamic index page content -->
<!-- I added in the product title as a dynamic element  -->

	